---
layout: base.njk
title: Alternance
permalink: /alternance/
---
{%- set alt = site.alternance %}
<header class="bandeau">
  <div class="conteneur">
    <p class="surtitre">Alternance</p>
    <h1>{% if alt.poste and alt.entreprise %}{{ alt.poste }} chez {{ alt.entreprise }}{% elif alt.entreprise %}Mon alternance chez {{ alt.entreprise }}{% else %}Mon alternance{% endif %}</h1>
    <p class="chapeau">En alternance pendant le BTS SIO option SISR, au rythme {{ site.rythme }}{% if alt.debut %}, depuis {{ alt.debut }}{% endif %}. Cette page rassemblera ce que j’y fais et ce que j’y apprends.</p>
  </div>
</header>

{%- set missions = collections.realisations | filtrerPar("cadre", "Alternance") %}
<section class="conteneur section">
  <h2>Ce que j’y fais</h2>
  {%- if missions.length %}
  <div class="grille-cartes">
    {%- for item in missions %}
    {% include "carte-realisation.njk" %}
    {%- endfor %}
  </div>
  {%- else %}
  <p class="vide">Les premières missions seront décrites ici. En attendant, le <a href="/journal/">journal</a> suit tout au jour le jour.</p>
  {%- endif %}
</section>
